body {
  background: @white-color url("../preview/mishka-index-mobile.jpg") no-repeat 50% 0px;
  background-size: 320px auto;
  min-height: 750px;
}

@media @tablet-widths {
  body {
    background: @white-color url("../preview/mishka-index-tablet.jpg") no-repeat 50% 0px;
    background-size: 768px auto;
  }
}

@media @desktop-widths {
  body {
    background: @white-color url("../preview/mishka-index-desktop.jpg") no-repeat 50% 0px;
    background-size: 1150px auto;
  }
}
