.bestseller__wrapper {
  outline: 2px dotted red; /* временное выделение блоков, УДАЛИТЬ! */
}

.bestseller_title {
  font-size: 25px;
  line-height: 30px;
}

.bestseller__label {
  font-size: @font-size;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
}

.bestseller-description {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
}

.bestseller__specs {
  font-size: 15px;
  line-height: 20px;

  tr {
  border-bottom: 1px solid @light-grey-color;
  }
}

.bestseller__image {

  img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 315px;
  }
}

.bestseller__order {
  font-size: @font-size;
  line-height: 24px;
  font-weight: bold;
}
