.page-title {
  outline: 2px dotted blue; /* временное выделение блоков, УДАЛИТЬ! */
  background-color: #f1f1f1;
}

.page-title__caption {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.catalog {
  outline: 2px dotted red; /* временное выделение блоков, УДАЛИТЬ! */
}

.product-card {
  outline: 2px dotted green; /* временное выделение блоков, УДАЛИТЬ! */
  padding-top: 27px;
  padding-bottom: 27px;
  border: 1px solid #ededed;
}

.product-card__title {
  margin: 0;
  padding-left: 28px;
  font-size: @font-size;
  line-height: 24px;
  font-weight: bold;
}

.product-card__specification {
  padding-left: 28px;
  padding-bottom: 22px;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  border-bottom: 1px solid @light-grey-color;
}

.product-card__price {
  padding-left: 28px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.product-card__video-description {
  padding-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.product-card__button {
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 26px;
  padding-right: 26px;
  font-size: @font-size;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444;
}
