.contacts {

}

.contacts__wrapper {
  .container();
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__type {
  font-size: 15px;
  line-height: 30px;
}

.contacts__value {
  font-size: 15px;
  line-height: 30px;
}

.contacts__map {

  img {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 457px;
  }
}

@media @tablet-widths {
  .contacts__wrapper {
    min-height: 824px; /*временно для сетки*/
    margin-top: 46px;
    margin-bottom: 57px;
  }
}

@media @desktop-widths {
  .contacts__wrapper {
    min-height:  457px;
    margin-top: 71px;
    margin-bottom: 105px;
  }
}
