.page-footer {
  margin-top: 39px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer__wrapper {
  .container();
}

.social-link {
  /*font-size: 0;*/
  background-repeat: no-repeat;
  &--in {
    background-image: url("../../img/icon-insta.svg");
  }
  &--fb {
    background-image: url("../../img/icon-fb.svg");
  }
  &--tw {
    backgground-image: url("../../img/icon-twitter.svg");
  }
}



