.promo-block {
  outline: 2px dotted blue; /* временное выделение блоков, УДАЛИТЬ! */
}

.promo-block__promo-image {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.promo-block__title {
  font-size: 27px;
  line-height: 30px;
}

.promo-block__link-title {
  font-size: 19px;
  line-height: 24px;
  color: @white-color;
}

.promo-block__item {
  outline: 2px dotted blue; /* временное выделение блоков, УДАЛИТЬ! */
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.promo-block__item--left {
  background-color: #63d1bb;
}

.promo-block__item--right {
  background-color: #56c3b2;
}



