.reviews {

}

.reviews__wrapper {
  .container();
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @black-color;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: @black-color;
}

.reviews__author-name {
  font-size: @font-size;
  line-height: 24px;
  font-weight: bold;
  font-style: normal; /*по умолчанию почему то курсивом?*/
}

.reviews__author-link {
  font-size: @font-size;
  line-height: 30px;
  color: @black-color;
  text-decoration: none;
}

@media @tablet-widths {
  .reviews__wrapper {
    min-height: 457px; /*временно для сетки*/
    padding-bottom: 85px;
  }
}

@media @desktop-widths {
  .reviews__wrapper {
    min-height: 457px; /*временно для сетки*/
    padding-bottom: 90px;
  }
}


